<nav class="navbar navbar-toggleable-xs navbar-fixed-top navbar-inverse bg-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Baghians Network</a>
    </div>
    <div class="collapse navbar-collapse " id="topNav">
        <ul class="navbar-nav nav">
            <li ng-class="{active: topNavActiveTab == 'myProfile'}">
                <a href="#/profile/me" class="navbar-link">My Profile</a>
            </li>
        </ul>
        <ul class="navbar-nav nav navbar-right pr15">
            <li ng-class="{active: topNavActiveTab == 'directory'}">
                <a href="#/members" class="navbar-link">Directory</a>
            </li>
        </ul>
    </div>
</nav>