
<div class="container">
    <form ng-controller="Login">
        <div class="row">
            <h3>Login</h3>
        </div>
        <div class="row">
            <input type="text" ng-model="username" placeholder="username" required />
        </div>
        <div class="row">
            <input type="password" ng-model="password" placeholder="password" required />
        </div>
        <div class="row">
            <input class="btn btn-primary button-gen-layout margin-top-10" type="submit" value="login" ng-click="login()"/>
        </div>
        <div class="row">
            <label style="display: inline">If you have not joined already, click to </label> <!-- "display: inline" keeps the label from putting a line end after it -->
            <a href="#/signup">Become a Member</a>
        </div>
        </form>
        <form>

    <div class="row">
    <labe style="display: inline">Forgot password</labe> <a  data-toggle="modal" data-target="#myModal" href="">Click Here</a>

    <!-- Forgot Password Model -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content forgetPasswordModelBody">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Forget Password</h4>
                </div>
                <div class="modal-body ">
                    <input type="text" placeholder="Enter User Name" class="form-control">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    </form>
</div>