

<div ng-controller="Profile as pro">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <ul class="nav nav-tabs">
                    <li ng-class="{active: pro.tab==1}" ng-click="pro.setTab(1)"><a href="#profile">Profile</a></li>
                    <li ng-class="{active: pro.tab==2}" ng-click="pro.setTab(2)"><a href="#education">Education</a></li>
                    <li ng-class="{active: pro.tab==3}" ng-click="pro.setTab(3)"><a href="#work">Work</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
        <div class="row">
            <div class="col-xs-3 col-md-3"> <!-- image column -->
                <div class="row image-upload">
                    <div ngf-drop ngf-select ng-model="files" class="drop-area" id="drop-area" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                         ngf-accept="'image/*'" ngf-change="onFileSelected($files, $event)"> <!-- narrow acceptable image by ngf-accept="'.png,.jpg'" -->
                        <img src={{image}} class="profile-img"/>
                    </div>
                </div>
                <div class="row">
                    <br><label>{{preview}}</label><br>
                    <img ngf-src="files[0]" class="profile-image-preview" /><br>
                    <label>{{files[0].name}}</label>
                </div>
            </div>
            <div ng-class="{'col-xs-6 col-md-6': pro.tab ==1}" ng-show="{{pro.tab==1}}""> <!-- feeds by member column -->
                <!-- how abt having a tinymce panel bound to a textarea here for creating a new feed -->
                <textarea id="new-post" class="new-post"> </textarea>
                <input class="btn btn-primary button-gen-layout margin-top-10" type="submit" value="post"/>
                <!-- previous posts by the user should go below -->
                <div class="prev-posts"></div>
            </div>
            <div ng-class="{'col-xs-6 col-md-6': pro.tab ==2}" ng-show="{{pro.tab==2}}">Work</div>
            <div ng-class="{'col-xs-6 col-md-6': pro.tab ==3}" ng-show="{{pro.tab==3}}">Education</div>
            <div class="col-xs-3 col-md-3"> <!-- any other interesting stuff -->

            </div>
        </div>
    </div>
</div>