<div ng-controller="Profile as profile">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <h3>{{name}}</h3>
            </div> <!--row-->
            <div class="row">
                <div class="col-md-3"> <!-- image column -->
                    <div class="row image-upload">
                        <div ngf-drop ngf-select ng-model="files" class="drop-area" id="drop-area" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                             ngf-accept="'image/*'" ngf-change="onFileSelected($files, $event)"> <!-- narrow acceptable image by ngf-accept="'.png,.jpg'" -->
                            <img src={{image}} class="profile-img"/>
                        </div>
                    </div> <!--row image-upload-->
                    <div class="row">
                        <br><label>{{preview}}</label><br>
                        <img ngf-src="files[0]" class="profile-image-preview" /><br>
                        <label>{{files[0].name}}</label>
                    </div> <!--row-->
                </div> <!-- col-md-3 -->
            </div>  <!--row-->
        </div> <!--col-md-4-->
        <div class="col-md-4">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in tabArray" ng-class="{active: tab.value==profile.tab}" ng-click="profile.setTab(tab.value)"><a href="">{{tab.name}}</a></li>
                </ul>
            </div> <!--row-->
            <div class="row">
                <div  ng-class="{'profile-element-padding' : tab.value ==profile.tab, 'hidden':profile.tab !=tab.value}" ng-repeat="tab in tabArray">
                    <div ng-show="profile.tab==1">
                        <!-- how abt having a tinymce panel bound to a textarea here for creating a new feed -->
                        <textarea id="new-post" class="new-post"> </textarea>
                        <input class="btn btn-primary button-gen-layout margin-top-10" type="submit" value="post"/>
                        <!-- previous posts by the user should go below -->
                        <div class="prev-posts"></div>
                    </div>
                    <div ng-show="profile.tab==2">
                        <div class="row">
                            <div class="col-md-6">High School</div>
                            <div class="col-md-6">{{education}}</div>
                        </div>
                    </div>
                    <div ng-show="profile.tab==3">
                        <div id="row">
                            <div class="col-md-12"><h3>Work</h3></div>
                        </div>

                        <div class="row"  ng-repeat="exp in work" ng-show="controlBtnMoreWork==0" ng-hide="controlBtnMoreWork==1">
                            <div class="row">
                                <div class="col-md-6"><span>Company Name</span><input type="text"  class="form-control" value="{{exp.companyName}}" disabled></div>
                                <div class="col-md-6"><span>Designation</span><input type="text"  class="form-control" value="{{exp.designation}}" disabled></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>Industry</span><input type="text" class="form-control" value="{{exp.industry}}" disabled></div>
                                <div class="col-md-6"> <span>Location</span><input type="text" class="form-control" value="{{exp.location}}" disabled></div>
                            </div>

                            <hr>

                        </div>

                        <div class="row" ng-show="canEdit==1">
                            <button class="btn btn-primary del-more-work-btn" ng-click="showMoreWork(1)" ng-show="controlBtnMoreWork==0" ng-hide="controlBtnMoreWork==1">Edit</button>
                        </div>

                        <div class="row " ng-repeat="item in moreWork" ng-show="controlBtnMoreWork==1" ng-hide="controlBtnMoreWork==0">
                            <div class="col-md-12"><input type="text" class="form-control more-work-fields" placeholder="Company Name" value="item.companyName" ng-model="item.companyName">
                                <input type="text" class="form-control more-work-fields" placeholder="Designation" value="item.designation" ng-model="item.designation">
                                <input type="text" class="form-control more-work-fields" placeholder="Industry" value="item.industry" ng-model="item.industry">
                                <input type="text" class="form-control more-work-fields" placeholder="Location" value="item.location" ng-model="item.location">
                                <button class="btn btn-danger del-more-work-btn" id="{{item.id}}" ng-click="removeField(this)">-</button></br>
                            </div>
                        </div>
                        <button ng-click="appendWork()" class="btn btn-success" ng-show="controlBtnMoreWork==1" ng-hide="controlBtnMoreWork==0">+</button>
                        <button class="btn btn-success save-cancel-btn" ng-show="controlBtnMoreWork==1" ng-hide="controlBtnMoreWork==0" ng-click="saveProgress()">Save</button>
                        <button class="btn btn-danger save-cancel-btn" ng-show="controlBtnMoreWork==1" ng-hide="controlBtnMoreWork==0" ng-click="showMoreWork(0)">Cancel</button>

                    </div>
                    <div ng-show="profile.tab==4">
                        About
                    </div>
                </div>
            </div> <!--row-->
        </div> <!--col-md-4-->
    </div>
</div>