<div class="container">
    <div class="col-xs-6">
        <div ng-controller="Signup">
            <input type="text" ng-model="name" placeholder="name" required /> <br>
            <input type="text" ng-model="email" placeholder="email" required /> <br>
            <input type="text" ng-model="yearOfJoining" placeholder="yearOfJoining" required />
            <select ng-model="yearOfJoining" ng-options="year for year in years"></select> <br>
            <input type="text" ng-model="boardingHouse" placeholder="boardingHouse" required />
            <select ng-model="boardingHouse" ng-options="houseName for houseName in boardingHouseNames"></select> <br>
            <input type="text" ng-model="phone" placeholder="phone" required /> <br>
            <input type="text" ng-model="username" placeholder="username" required /> <br>
            <input type="password" ng-model="password" placeholder="password" required /> <br>
            <div class="pull-right">
                <input type="submit" value="register" ng-click="register()"/>
            </div>
        </div>
    </div>
</div>