<!DOCTYPE html>
<html>
<head>
    <!-- -->

    <title>'Baghians'</title>
</head>
<body>
    <h1>'Welcome to the CBS Old Boys Club'</h1>
    <table>
        <tr>
            <td>
                <form  action="/signup-thankyou" autocomplete="on">
                    <h2> Sign up </h2>
                        <label for="name" class="uname">Your Name</label>
                        <input id="name" name="name" required="required" type="text" placeholder="enter name" />
                        <label for="email" class="youmail" > Your Email</label>
                        <input id="email" name="email" required="required" type="email" placeholder="enter email"/>
                        <label for="year-of-joining" class="youpasswd">Year of Joining </label>
                        <input id="year-of-joining" name="year-of-joining" required="required" type="password" placeholder=""/>
                        <label for="house" class="house">House          </label>
                        <input id="house" name="house" required="required" type="password" placeholder=""/>
                </form>
            </td>
            <td>
                <form  action="/login-authenticate" autocomplete="on">
                    <h2> Login </h2>
                        <label for="username" class="uname">Username</label>
                        <input id="username" name="username" required="required" type="text" placeholder="enter username" />
                        <label for="password" class="password">Password </label>
                        <input id="password" name="password" required="required" type="password" placeholder=""/>
                        <input id="submit-login" name="submit-login" type="button"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>