.button-gen-layout {
    border-radius: 0px;
    background-color: #616061;
    width: inherit;
}
.button-gen-layout:hover {
    background: #616061 none;
}
.button-gen-layout:focus {
    background-color: #616061;
}
.button-gen-layout:active {
    background: #616061 none;
}
.select-gen-layout {
    border-radius: 0px;
}
.margin-top-10 {
    margin-top: 10px;
}
.profile-img {
    height: 180px;
}
.profile-image-preview {
    max-width: 100px;
}
.circular-img {
    width: 100%;
    border-radius: 50%;
}
.margin-top-10 {
    margin-top: 10px;
}