body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profile-element-padding{
  padding-top: 10px;
  
}

.more-work-fields{
  width: 75%;
  float: left;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.del-more-work-btn{
  margin-top: 2%;
  margin-bottom: 2%;
}

.save-cancel-btn{
  width: 70px;
  margin-left: 5px;
}