.button-gen-layout {
    border-radius: 0px;
    background-color: #616061;
    width: inherit;
}
.button-gen-layout:hover {
    background-image: none;
    background-color: #616061;
}
.button-gen-layout:focus {
    outline: none;
    background-color: #616061;
}
.select-gen-layout {
    border-radius: 0px;
}
.margin-top-10 {
    margin-top: 10px;
}
.profile-img {
    height: 180px;
}
.profile-image-preview {
    max-width: 100px;
}

.circular-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}