<nav class="navbar navbar-toggleable-xs navbar-fixed-top navbar-inverse bg-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Baghians Network</a>
    </div>
    <div class="collapse navbar-collapse ">
        <ul class="navbar-nav nav">
            <li ui-sref="profile({id: 'me'})" ui-sref-active="active">
                <a href="" class="navbar-link">My Profile</a>
            </li>
        </ul>
        <ul class="navbar-nav nav navbar-right pr15">
            <li ui-sref="members" ui-sref-active="active">
                <a href="" class="navbar-link">Directory</a>
            </li>
        </ul>
    </div>
</nav>