<nav class="navbar navbar-toggleable-xs navbar-fixed-top navbar-inverse bg-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Baghians Network</a>
    </div>
    <div class="collapse navbar-collapse ">
        <ul class="navbar-nav nav">
            <li ui-sref="members" ui-sref-active="active">
                <a href="" class="navbar-link" ng-click="$ctrl.selectNavbarItem('Directory', false);">Directory</a>
            </li>
            <li ui-sref="calendar" ui-sref-active="active">
                <a href="" class="navbar-link">Calendar</a>
            </li>
        </ul>
        <ul class="navbar-nav nav navbar-right pr15">
            <li class="dropdown" ng-class='{"active": $ctrl.selected != "Account"}'>
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{$ctrl.selected}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ui-sref="profile({id: 'me'})">
                        <a href="" class="navbar-link" ng-click="$ctrl.selectNavbarItem('My Profile', true);">My Profile</a>
                    </li>
                    <li ui-sref="logout">
                        <a href="" class="navbar-link" ng-click="$ctrl.selectNavbarItem('Logout', true);">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>